<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>About Us</title>
</head>

<body>

    <%- include("header.ejs") %>
        <main class="about-page">
            <h1>About Us</h1>

            <p class="about-us">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis, urna sed aliquam fringilla,
                purus
                lorem iaculis purus, in porta diam felis ac mi. Nullam lacus mauris, ornare placerat aliquet quis,
                vehicula
                ac
                ligula. Suspendisse nec fringilla nisi. Maecenas purus nulla, maximus id neque id, tristique convallis
                diam.
                Phasellus efficitur diam eu nulla lobortis, eget maximus ante convallis. Nullam vitae dui et metus
                consectetur
                consectetur. Aliquam lobortis, enim ac eleifend tempor, metus ipsum pretium justo, et convallis diam
                tortor
                eget
                felis. Duis pulvinar tortor justo, eu ullamcorper turpis fermentum vel.</p>

            <p class="about-us"> Aliquam ligula est, consequat posuere dui a, volutpat sagittis sapien. Suspendisse semper, tellus ac
                varius
                ornare, nunc leo ullamcorper ligula, a lacinia quam dolor eget ante. In laoreet lorem a ipsum egestas,
                sit
                amet
                ultricies justo ultrices. Phasellus velit dolor, lacinia nec felis id, ornare molestie sapien. Phasellus
                a
                semper sem, eu placerat neque. Proin lacinia tempor fermentum. Curabitur vel vestibulum quam. Nam auctor
                ac
                nisl
                quis iaculis. Maecenas ac facilisis tellus. Curabitur cursus lacus ante, id commodo sapien fringilla at.
                Donec
                ac elit at sapien dictum molestie nec sed justo. Pellentesque a euismod orci.</p>

            <p class="about-us"> Fusce pharetra, est id mollis sodales, augue magna consectetur mauris, in imperdiet ante est sit amet
                est.
                Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare ligula purus, id facilisis leo bibendum
                id.
                Etiam
                luctus turpis id sapien consequat feugiat. Curabitur at viverra massa. Etiam vitae pharetra quam. Donec
                varius
                erat libero, vel mollis lorem mollis sit amet. Proin ultricies massa quis magna facilisis hendrerit.
                Aliquam
                quis nibh magna. Etiam leo libero, condimentum ac nisl non, commodo fringilla odio. Sed gravida diam in
                lectus
                lobortis tristique.</p>

            <p class="about-us"> Quisque volutpat feugiat tempor. Pellentesque convallis placerat aliquet. Ut finibus scelerisque
                porttitor.
                Nam
                sit amet luctus nunc. Nulla facilisi. Pellentesque nibh mi, congue ut aliquam non, mattis vitae erat.
                Aliquam
                sed nibh turpis. Ut porttitor nisi vel mattis semper. Ut tempor urna vel mauris convallis, id vehicula
                nisl
                posuere. Integer sagittis ac elit laoreet elementum.</p>

            <p class="about-us">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis, urna sed aliquam fringilla,
                purus
                lorem iaculis purus, in porta diam felis ac mi. Nullam lacus mauris, ornare placerat aliquet quis,
                vehicula
                ac
                ligula. Suspendisse nec fringilla nisi. Maecenas purus nulla, maximus id neque id, tristique convallis
                diam.
                Phasellus efficitur diam eu nulla lobortis, eget maximus ante convallis. Nullam vitae dui et metus
                consectetur
                consectetur. Aliquam lobortis, enim ac eleifend tempor, metus ipsum pretium justo, et convallis diam
                tortor
                eget
                felis. Duis pulvinar tortor justo, eu ullamcorper turpis fermentum vel.</p>


        </main>
        <%- include("footer.ejs") %>

</body>

</html>