<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include("header.ejs") %>

    <main>
        <h1> Welcome to Blogify</h1>
        <p> Your space to write & share blogs. </p>
    </main>

    <%- include("footer.ejs") %>

</body>
</html>





