body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
}

footer {
    background: #333;
    color: white;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.about-page {
    background: url("/images/1.1-Blog-Cover.jpg");
    background-size: contain;
    align-items: center;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    color: #555;
    border: 1px solid #ddd;
}

.about-us {
    max-width: 800px;
    margin-left: 35rem;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.no-posts {
    font-size: 2rem;
    color: #555;
    margin-top: 100px;
    margin-bottom: 40px;
}

.new-blog-btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #007BFF; 
    text-decoration: none;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 5px;
    transition: background 0.3s;
}

.new-blog-btn-hover {
    background-color: green;
}

.welcome {
    background: url("/images/1.1-Blog-Cover.jpg");
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
}

label  {
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.new-blog {
    background: url("/images/1.1-Blog-Cover.jpg");
}

.blog-list{
    list-style: none;
    padding: 1rem;
    max-width: 600px;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    gap: 15px;
}

.blog-item {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid #ddd;
    gap: 10px;
}

.read-more {
    margin-left: auto;
    padding: 10px 16px;
    background: linear-gradient(45deg, #5c7e63, rgb(73, 112, 73));
    color: white;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.post-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

.post-meta {
    color: grey;
    font-size: 0.9rem;
}

.back-btn {
    padding: 8px 12px;
}

.post-details {
    background: url("/images/1.1-Blog-Cover.jpg");
}

.edit, .delete {
   display: inline-block;
    margin: 5px 5px;
    padding: 6px 12px;
    background: #2e2e2e;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    text-decoration: none; 
}

.edit:hover {
    background: #ffcc00; 
    color: black;
}

.delete:hover {
    background: #d9534f; 
    color: white;
}
